body{
margin: 0;
padding: 0;
border: 0;
overflow: hidden;
height: 100%; 
max-height: 100%; 
}

.cta{
	position:absolute;
	float: left;
	display: inline-block;
	
}

#framecontent{
position: absolute; 
bottom: 0; 
left: 0; 
width: 100%; 
height: 130px; /*Height of frame div*/
overflow: scroll; /*Disable scrollbars. Set to "scroll" to enable*/
background: #222277;
color: white;

}
.button{
	background: -moz-linear-gradient(center top, #a4ccec, #72a6d4 25%, #3282c2 45%, #357cbd 85%, #72a6d4); /* mozilla gradient background */
}

#maincontent{
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 130px; /*Set bottom value to HeightOfFrameDiv*/
overflow: auto; 
background: #326536;
padding-bottom: 100px;
}

.twitter{
	padding-top: 16px;
	padding-left: 10px;
	padding-right: 8px;
	
	
}

.innertube{
text-align: center;
margin: 15px; /*Margins for inner DIV inside each DIV */
}

h1{
	
	color:#ffffff;
}

.API img:hover{ 
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
-moz-transform: rotate(-360deg);
-webkit-transform: rotate(-360deg);
-o-transform: rotate(-360deg);
-ms-transform: rotate(-360deg);
transform: rotate(-360deg);

}
.weather{
	padding:0px;
	
}


#button{
	
  display:inline-table;
    text-decoration: none;
    font: bold 15px/15px HelveticaNeue, Arial;
    padding: 8px 11px;
    color: #d21515;
    border: 1px solid #353333;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    background-image: linear-gradient(bottom, rgb(9,18,3) 14%, rgb(28,66,66) 57%);
background-image: -o-linear-gradient(bottom, rgb(9,18,3) 14%, rgb(28,66,66) 57%);
background-image: -moz-linear-gradient(bottom, rgb(9,18,3) 14%, rgb(28,66,66) 57%);
background-image: -webkit-linear-gradient(bottom, rgb(9,18,3) 14%, rgb(28,66,66) 57%);
background-image: -ms-linear-gradient(bottom, rgb(9,18,3) 14%, rgb(28,66,66) 57%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.14, rgb(9,18,3)),
	color-stop(0.57, rgb(28,66,66))
);
box-shadow: 7px 7px 8px #0f0f0f;
-webkit-box-shadow: 7px 7px 8px #0f0f0f;
-moz-box-shadow: 7px 7px 8px #0f0f0f;
filter: progid:DXImageTransform.Microsoft.dropShadow(color=#0f0f0f, offX=7, offY=7, positive=true);
}
}
* html body{ /*IE6 hack*/
padding: 0 0 130px 0; /*Set value to (0 0 HeightOfFrameDiv 0)*/
}

* html #maincontent{ /*IE6 hack*/
height: 100%; 
width: 100%; 
}